#search-results .sr { padding: 5px ; }
#search-results .sr>.caption .icon-wrapper { height: 18px ; float: left ; display: flex ; align-items: center ; }
#search-results .sr>.caption img.icon { width: 35px ; max-height: 14px ; float: left ; margin-right: 5px ; }
#search-results .sr p { margin-top: 3px ; }
#search-results .sr .note { font-size: 90% ; font-style: italic ; color: #666 ; }

#search-results .index-sr>.caption { position: relative ; padding: 3px 25px 3px 6px ; border-radius: 3px ; }
#search-results .index-sr>.caption .title { font-weight: bold ; }
#search-results .index-sr>.caption .subtitle { padding-left: 6px ; font-size: 80% ; font-style: italic ; }
#search-results .index-sr>.caption .collapser { height: 16px ; position: absolute ; top: 4px ; right: 4px ; }
#search-results .index-sr .body { padding: 2px 5px 0 5px ; }
#search-results .index-sr .see-also { font-style: italic ; cursor: pointer ; }
#search-results .index-sr img.toggle-rulerefs { float: right ; margin: 0 0 0.25em 0.25em ; height: 1.25em ; cursor: pointer ; }
#search-results .index-sr ul.rulerefs .caption { padding-right: 0.5em ; }
#search-results .index-sr ul.rulerefs .ruleid { font-size: 80% ; }
#search-results .index-sr ul.rulerefs .ruleid:hover { background: #ffffcc ; }
#search-results .index-sr ul.rulerefs .ruleid.unknown:hover { background: inherit ; }
#search-results .index-sr .ruleid { margin-right: 0.25em ; font-style: italic ; color: #888 ; }
#search-results .index-sr .ruleid.unknown {  color: #888 ; }
#search-results .index-sr .ruleid a { color: red ; cursor: pointer ; }
#search-results .index-sr .ruleid a:hover { background: #ffffcc ; }

/* nb: the real ASOP background color is #b72754, but it's quite dark */
#search-results .asop-entry-sr .caption { padding: 3px 6px ; font-weight: bold ; border-radius: 3px ; background: #f6edda ; }
#search-results .asop-entry-sr .caption span { cursor: pointer ; }
#search-results .asop-entry-sr .collapser { height: 16px ; float: right ; margin: 1px 2px 1px 0 ; }
#search-results .asop-entry-sr .content { padding: 5px ; }
