.tabbed-pages { display: flex ; flex-direction: column ; height: 100% ; }
.tabbed-pages .tabbed-page { flex-grow: 1 ; overflow-y: hidden ; display: flex ; flex-direction: column ; }
.tabbed-pages .tab-strip { height: 24px ; display: flex ; font-size: 10pt ; font-style: italic ; }
.tabbed-pages .tab-strip .tab { border: 1px solid #aaa ; padding: 2px 5px ; margin-right: 5px ; cursor: pointer ; }
.tabbed-pages .tab-strip.images .tab { border: none ; padding: 0 ; }
.tabbed-pages .tab-strip.images .tab img { height: 22px ; }
