<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title> {{APP_NAME}} </title>
<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',
    filename = 'jquery-ui/jquery-ui' + WEB_DEBUG_MIN + '.css'
) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='growl/jquery.growl.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='imageZoom/jquery.imageZoom.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/global.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/MainApp.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/NavPane.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/SearchPane.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/SearchResult.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/RuleInfo.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/ContentPane.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/ASOP.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/TabbedPages.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/Accordian.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/Collapsible.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/chapters.css' ) }}" />
{%if ASOP_CSS_URL%}
    <link rel="stylesheet" type="text/css" href="{{ASOP_CSS_URL}}" />
{%endif%}
</head>

<body>
    <div id="main-app"></div>
    {# NOTE: We include some elements to support the test suite, and since they can be updated by the test suite, we manage them manually (instead of using Vue). #}
    {%include "testing.html"%}
</body>

{%if WEB_DEBUG%}
    <script src="{{ url_for( 'static', filename='vue/vue.global.js' ) }}"></script>
{%else%}
    <script src="{{ url_for( 'static', filename='vue/vue.global.prod.js' ) }}"></script>
{%endif%}
<script src="{{ url_for( 'static',
    filename = 'jquery/jquery-3.6.0' + WEB_DEBUG_MIN + '.js'
) }}"></script>
<script src="{{ url_for( 'static',
    filename = 'jquery-ui/jquery-ui' + WEB_DEBUG_MIN + '.js'
) }}"></script>
<script src="{{ url_for( 'static',
    filename = 'split/split' + WEB_DEBUG_MIN + '.js'
) }}"></script>
<script src="{{ url_for( 'static',
    filename = 'tinyemitter/tinyemitter' + WEB_DEBUG_MIN + '.js'
) }}"></script>
<script src="{{ url_for( 'static', filename='js-cookie/js.cookie.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='growl/jquery.growl.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='imageZoom/jquery.imageZoom.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='hotkey/jquery.hotkey.js' ) }}"></script>

<script>
gImagesBaseUrl = "{{ url_for( 'static', filename='images/' ) }}" ;
gGetAppConfigUrl = "{{ url_for( 'get_app_config' ) }}" ;
gGetContentDocsUrl = "{{ url_for( 'get_content_docs' ) }}" ;
gGetASOPUrl = "{{ url_for( 'get_asop' ) }}" ;
gGetASOPIntroUrl = "{{ url_for( 'get_asop_intro' ) }}" ;
gGetASOPFooterUrl = "{{ url_for( 'get_asop_footer' ) }}" ;
gGetASOPSectionUrl = "{{ url_for( 'get_asop_section', section_id='SECTION_ID' ) }}" ;
gGetStartupMsgsUrl = "{{ url_for( 'get_startup_msgs' ) }}" ;
gSearchUrl = "{{ url_for( 'search' ) }}" ;
gGetRuleInfoUrl = "{{ url_for( 'get_rule_info', ruleid='RULEID' ) }}" ;
gGetQAImageUrl = "{{ url_for( 'get_qa_image', fname='FNAME' ) }}" ;
gGetFootnotesUrl = "{{ url_for( 'get_footnotes' ) }}" ;
</script>

<script type="module" src="{{ url_for( 'static', filename='MainApp.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='NavPane.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='SearchPane.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='SearchResult.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='RuleInfo.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='ContentPane.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='ASOP.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='TabbedPages.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='Accordian.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='Collapsible.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='UserSettings.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='utils.js' ) }}"></script>

</html>
