<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title> {{APP_NAME}} </title>
<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',
    filename = 'jquery-ui/jquery-ui' + WEB_DEBUG_MIN + '.css'
) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='growl/jquery.growl.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/global.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/MainApp.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/NavPane.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/SearchPane.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/SearchResult.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/ContentPane.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/TabbedPages.css' ) }}" />
</head>

<body>
    <div id="main-app"></div>
</body>

{%if WEB_DEBUG%}
    <script src="{{ url_for( 'static', filename='vue/vue.global.js' ) }}"></script>
{%else%}
    <script src="{{ url_for( 'static', filename='vue/vue.global.prod.js' ) }}"></script>
{%endif%}
<script src="{{ url_for( 'static',
    filename = 'jquery/jquery-3.6.0' + WEB_DEBUG_MIN + '.js'
) }}"></script>
<script src="{{ url_for( 'static',
    filename = 'jquery-ui/jquery-ui' + WEB_DEBUG_MIN + '.js'
) }}"></script>
<script src="{{ url_for( 'static',
    filename = 'split/split' + WEB_DEBUG_MIN + '.js'
) }}"></script>
<script src="{{ url_for( 'static',
    filename = 'tinyemitter/tinyemitter' + WEB_DEBUG_MIN + '.js'
) }}"></script>
<script src="{{ url_for( 'static', filename='growl/jquery.growl.js' ) }}"></script>

<script>
gGetContentDocsUrl = "{{ url_for( 'get_content_docs') }}" ;
gSearchUrl = "{{ url_for( 'search' ) }}" ;
</script>

<script type="module" src="{{ url_for( 'static', filename='MainApp.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='NavPane.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='SearchPane.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='SearchResult.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='ContentPane.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='TabbedPages.js' ) }}"></script>
<script type="module" src="{{ url_for( 'static', filename='utils.js' ) }}"></script>

</html>
